<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.php.debug.core.launching.webPageLaunch">
<booleanAttribute key="auto_generated_url" value="false"/>
<stringAttribute key="base_url" value="http://symfony2test.pho-1-lin.local/symfony2/web/phpinfo.php"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugPages" value="debugAllPages"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<stringAttribute key="file_name" value="/symfony2test.pho-1-lin.local/public_html/symfony2/web/phpinfo.php"/>
<booleanAttribute key="firstLineBreakpoint" value="false"/>
<stringAttribute key="name" value="symfony2test.pho-1-lin.local"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/symfony2test.pho-1-lin.local/public_html/symfony2/web/app_dev.php"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.php.debug.core.sourceLookupDirector.php"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;sourceLookupDirector&gt;&#13;&#10;&lt;sourceContainers duplicates=&quot;true&quot;&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;default/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#13;&#10;&lt;/sourceContainers&gt;&#13;&#10;&lt;/sourceLookupDirector&gt;&#13;&#10;"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<booleanAttribute key="org.eclipse.php.debug.core.OpenInBrowser" value="true"/>
<stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="/symfony2test.pho-1-lin.local"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
<stringAttribute key="org.eclipse.php.debug.core.SSHTunnelPassword" value="dac4720cf2e41f3706d6138ccd913acf"/>
<stringAttribute key="org.eclipse.php.debug.core.SSHTunnelUserName" value="symfony2test"/>
<booleanAttribute key="org.eclipse.php.debug.core.UseSSHTunnel" value="true"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="org.eclipse.php.internal.debug.core.launching.XDebugWebLaunchConfigurationDelegate"/>
<stringAttribute key="org.eclipse.php.debug.corephp_debugger_id" value="org.eclipse.php.debug.core.xdebugDebugger"/>
<stringAttribute key="route" value=""/>
<stringAttribute key="symfony_url" value=""/>
</launchConfiguration>
